.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

#td-botoes {
    text-align: center;
    width: 105px;
}

#acoes {
    text-align: center;
}

.todoForm {
    padding-bottom: 60px;
}